{{#edit-panel editPanelProps=editPanelProps}}
  <div class="panel panel-primary">
    <div class="panel-body">
      {{#em-form model=model submitButton=false }}
        {{em-checkbox label=(t 'admin.payment_workflow.admission_deposit_required_label') property="value.address1Include"}}
        {{em-checkbox label=(t 'admin.payment_workflow.followup_prepayment_required_label') property="value.address2Include"}}
        {{em-checkbox label=(t 'admin.payment_workflow.outpatient_lab_prepayment_required_label') property="value.address3Include"}}
        {{em-checkbox label=(t 'admin.payment_workflow.outpatient_imaging_prepayment_required_label') property="value.address4Include"}}
        {{em-checkbox label=(t 'admin.payment_workflow.outpatient_medication_prepayment_required_label') property="value.address5Include"}}
      {{/em-form}}
    </div>
  </div>
{{/edit-panel}}